node_modules
npm-debug.log
build
dist
.env
.env.local
.env.*.local
.git
.gitignore
README.md
.editorconfig
.vscode
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env.testing
phpunit.xml
tests/
vendor/